.searchContainer {
  width: 60%;
  margin: 0 auto;
}
.searchInput {
  width: 600px;
  height: 30px;
  margin-right: 25px;
  padding:10px;
  border: 2px solid  #b90000;


}
button {
  background-color: #b90000;
  padding:10px;
  color: white;
  font-size: large;
  border: 2px solid  #b90000;
}